<%- include('partials/header') -%>

    <div class="container">
        <p>Tired of forgetting who owes you and who you owe?<br>Well let's start keeping track!</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
    </div>
    <img src="/css/images/piggybank.png">

    <%- include('partials/footer') -%>