<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Transactions</h1>

    <table>
        <thead>
          <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% transactions.forEach(function(el) { %>
            <tr class='transactionItem' data-id='<%=el._id%>'>
              <td><%= el.transaction %></td>
              <td><%= el.amount %></td>
              <td class='del'> Delete </td>

            </tr>
          <% }) %>
        </tbody>
      </table>
      
    
      



    <form action="/transactions/createTransaction" method='POST'>
        <input type="text" placeholder="Enter Transaction Item" name='transactionItem'>
        <input type="number" step="any" placeholder="Enter Amount" name='amountItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>

</html>