/* Box Model Hack */
* {
    box-sizing: border-box;
  }
html,body {
    height: 100%;
}

body {
    background-image: url("images/abstract2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: medium;
}
.del {
    font-size: small;
    color: red;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background: white;
    padding: 2rem;
    width: 300px;
    align-items: center; 
    border-radius: 1rem;
}

.tranBox {
    width: 100%;
    background: rgba(255, 255, 255, 0.36);
}

.formBox {
    background: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
   
} 

.tableBox {
    background: white;
}

img {
    height: 40%;
}

