/* * {
    font-family: 'Secular One', Courier, monospace;
} */

.hidden {
    display: none;
}


html,
body {
    height: 100%;
}

body {
    background-image: url("images/abstract2.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: medium;
}

.del {
    font-size: small;
    color: red;
    cursor: pointer;
}


.simpleBox {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    background: white;
    padding: 2rem;
    width: 300px;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn {
    background-color: #d59dcc;
    border-color: #d59dcc;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#home .btn {
    margin: .5rem;
}

.formBox {
    background: white;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* height: 400px; */

    /*popup */
    /* position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3); */
}

#tableBox {
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 70%;
    max-width: 70%;
    margin: auto;
    text-align: center;
}



img {
    width: 100%;
}


label {
    width: 10em;
    text-align: right;
    font-weight: bold;
    margin-right: .1rem;
}

#radioLabel {
    text-align: left;
    margin-left: .2rem;
    font-weight: 300;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin-top: 10%;

}

#home div~div {
    text-align: center;
}

.welcomeTxt {
    font-size: 400%;
    font-weight: bold;
    padding: .5em;

}

.summary {
    background: rgb(54, 54, 54);
    width: 340px;
    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    color: white;
}

.summary p {
    padding: .5rem;
}

.customNav {
    background: rgb(54, 54, 54);
    color: white;
}

.nav-link {
    color: white !important;
}


.totalRow {
    font-weight: bold;
}

.radioLine > *{
    width: 150px;
    margin-bottom: 0;
    padding-left: 0;
    align-items: center;
    
}

@media (max-width: 500px) {
    .formBox {
        width: 100%;
    }

    .formInput {
        width: 150px;
    }
}


